extends base.pug

block content
	h1.
		Buenas tardes #{nombre}, tu edad es #{edad} años

	h2#title
	
	div
		a(href="/").
			Index
				
		a(href="/about").
			About

	div
		h2.
			Lenguajes utilizados

		ul
			for lang in langs
				li= lang
	
	